<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VideoMapper">
    <!--
        需要有如下的SQL:
            1. 给member id , 查 gym_member表, 拿到 card_id
            2. 给card_id , 查 gym_card, 拿到card信息: 用于校验 次数 or 会员是否过期
            3. 给card_id , 查 card_calss, 拿到class_id : 用于 校验前端给的课程是否可以看 ? 待定, 还不太清楚class 和 video 的关系
            4. 给card_id , 查 card_video, 拿到video_id : 用于 校验前端给的video是否可以看
            5. 给video_id , 查 gym_video, 拿到video信息(包括url, name 等) : 用于返回给前端
        下面都是旧的 , 暂时不管
    -->

    <select id = "getMemberID" paramterType = "Object.lang.String" resultType = "Object.lang.String">
        select ifnull(id,"-1") from gym_member where id = #{member_id}
    </select>

    <select id = "getCardID" paramterType="Object.lang.String" resultType="Object.lang.String">
        select ifnull(card_id,"-1") from gym_member where id = #{member_id}
    </select>

    <select id = "getVideoList" paramterType="Object.lang.String" resultType="long">
        select ifnull(video_id,-1) from card_video where card_id = #{card_id}
    </select>

    <select id = "getVideoUrl" paramterType="long" resultType="Object.lang.String">
        select videoUrl from gym_video where id = #{video_id}
    </select>

    <select id = "getVideoPrice" paramterType="long" resultType="double">
        select price from gym_video where id = #{video_id}
    </select>

    <select id = "getVideo" paramterType="long" resultType="com.example.demo.pojo.Video">
        select id,videoUrl,gym_video_name,price from  gym_video where id = #{video_id}
    </select>



</mapper>
