<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GymEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.GymEquipment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="time_usage_hour" jdbcType="BIGINT" property="timeUsageHour" />
    <result column="last_use" jdbcType="TIMESTAMP" property="lastUse" />
    <result column="maintain" jdbcType="VARCHAR" property="maintain" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, detail, time_usage_hour, last_use, maintain
  </sql>
  <select id="selectByExample" parameterType="com.example.pojo.GymEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gym_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gym_equipment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gym_equipment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.pojo.GymEquipmentExample">
    delete from gym_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.pojo.GymEquipment">
    insert into gym_equipment (id, detail, time_usage_hour, 
      last_use, maintain)
    values (#{id,jdbcType=BIGINT}, #{detail,jdbcType=VARCHAR}, #{timeUsageHour,jdbcType=BIGINT}, 
      #{lastUse,jdbcType=TIMESTAMP}, #{maintain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.GymEquipment">
    insert into gym_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="timeUsageHour != null">
        time_usage_hour,
      </if>
      <if test="lastUse != null">
        last_use,
      </if>
      <if test="maintain != null">
        maintain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="timeUsageHour != null">
        #{timeUsageHour,jdbcType=BIGINT},
      </if>
      <if test="lastUse != null">
        #{lastUse,jdbcType=TIMESTAMP},
      </if>
      <if test="maintain != null">
        #{maintain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.pojo.GymEquipmentExample" resultType="java.lang.Long">
    select count(*) from gym_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gym_equipment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.timeUsageHour != null">
        time_usage_hour = #{record.timeUsageHour,jdbcType=BIGINT},
      </if>
      <if test="record.lastUse != null">
        last_use = #{record.lastUse,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maintain != null">
        maintain = #{record.maintain,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gym_equipment
    set id = #{record.id,jdbcType=BIGINT},
      detail = #{record.detail,jdbcType=VARCHAR},
      time_usage_hour = #{record.timeUsageHour,jdbcType=BIGINT},
      last_use = #{record.lastUse,jdbcType=TIMESTAMP},
      maintain = #{record.maintain,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.GymEquipment">
    update gym_equipment
    <set>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="timeUsageHour != null">
        time_usage_hour = #{timeUsageHour,jdbcType=BIGINT},
      </if>
      <if test="lastUse != null">
        last_use = #{lastUse,jdbcType=TIMESTAMP},
      </if>
      <if test="maintain != null">
        maintain = #{maintain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.GymEquipment">
    update gym_equipment
    set detail = #{detail,jdbcType=VARCHAR},
      time_usage_hour = #{timeUsageHour,jdbcType=BIGINT},
      last_use = #{lastUse,jdbcType=TIMESTAMP},
      maintain = #{maintain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>