<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="findById" parameterType="java.lang.String" resultType="com.example.demo.pojo.Member">
        select *
        from gym_member
        where id = #{id}
    </select>
    <select id="findAll" parameterType="java.lang.String" resultType="com.example.demo.pojo.Member">
        select *
        from gym_member
    </select>
    <insert id="add" parameterType="com.example.demo.pojo.Member">

        insert into gym_member values (#{id},#{sex},#{age},#{height},#{weight},#{imgUrl},
                                       #{gym_member_name },#{phone},#{card_id},#{coach_id},#{passwd})
    </insert>
</mapper>